{% extends 'eventerx/layout.html' %}

{% block main_content %}

<h2>Active events</h2>

<div class="active_events">

    <div class="card event_card">
        <span class="detail">One week later</span>
        <h2>Graduation Ceremony</h2>
        <span class="detail">Venue: <span>Douala, Logbessou, Campus B</span> </span>
        
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deserunt reprehenderit sit nisi. Dicta odio sequi
            cum dignissimos voluptas enim neque sit illum alias odit.
        </p>
        <span class="detail">Wed 12 Apr 2021, 13:20</span>
    </div>

    <div class="card event_card">
        <span class="detail">One week later</span>
        <h2>Graduation Ceremony</h2>
        <span class="detail">Venue: <span>Douala, Logbessou, Campus B</span> </span>
        
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deserunt reprehenderit sit nisi. Dicta odio sequi
            cum dignissimos voluptas enim neque sit illum alias odit.
        </p>
        <span class="detail">Wed 12 Apr 2021, 13:20</span>
    </div>

    <div class="card event_card">
        <span class="detail">One week later</span>
        <h2>Graduation Ceremony</h2>
        <span class="detail">Venue: <span>Douala, Logbessou, Campus B</span> </span>
        
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse deserunt reprehenderit sit nisi. Dicta odio sequi
            cum dignissimos voluptas enim neque sit illum alias odit.
        </p>
        <span class="detail">Wed 12 Apr 2021, 13:20</span>
    </div>

</div>

<hr style="margin: 2rem 0;">

<div class="options">
    <a href="#" class="button --small">Create an event</a>
</div>


<table class="table table--fullsize">

    <thead>
        <tr>
            <th>Event Title</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th>Lead</th>
            <th>Team</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Graduation Ceremony</td>
            <td>12th September 2021</td>
            <td>12%</td>
            <td>John D</td>
            <td>Team 7</td>
            <td>
                <a href="#">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>

</table>


{% endblock %}