{% extends 'eventerx/layout.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.min.css') }}">
{% endblock %}


{% block main_content %}

<div class="kanban_board">

    <div class="card card_panel planned">
        <h2>Planned</h2>
        <button class="action_btn"><i class="fa fa-plus"></i></button>

        {% for task in tasks.planned %}
            <div class="card panel_card" draggable="true">
                <p class="title">{{tasks.title}}</p>
                <p class="content">
                    {{taks.description}}
                </p>
                <span class="priority --high">{{'high' if task.priority>3 else 'medium' if task.priority == 2 else 'low'}}</span>
                <a href="#">details</a>
            </div>
        {% endfor %}
        
        
    </div>

    <div class="card card_panel ongoing">
        <h2>Ongoing</h2>
        <button class="action_btn"><i class="fa fa-plus"></i></button>

        {% for task in tasks.ongoing %}
            <div class="card panel_card" draggable="true">
                <p class="title">{{tasks.title}}</p>
                <p class="content">
                    {{taks.description}}
                </p>
                <span class="priority --high">{{'high' if task.priority>3 else 'medium' if task.priority == 2 else 'low'}}</span>
                <a href="#">details</a>
            </div>
        {% endfor %}
    </div>

    <div class="card card_panel completed">
        <h2>Completed</h2>

        {% for task in tasks.completed %}
            <div class="card panel_card" draggable="true">
                <p class="title">{{tasks.title}}</p>
                <p class="content">
                    {{taks.description}}
                </p>
                <span class="priority --high">{{'high' if task.priority>3 else 'medium' if task.priority == 2 else 'low'}}</span>
                <a href="#">details</a>
            </div>
        {% endfor %}

    </div>

</div>

{% endblock %}