@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: $default_textsize;
    background-color: white;
    width: 100%;
    height: 100vh;
    font-family: "Open sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
    margin: $heading_margin 0;
}

p {
    margin: $heading_margin 0;
    word-break: break-all;
}

a {
    text-decoration: none;
    padding: 0; margin: 0;
    color: $primary_color;
}

// components
.alert {
    display: block;
    padding: $default_padding;
    border-radius: $border_radius;
    color: $black;
    margin: 0 0 $margin_sm 0;
    background-color: transparentize($color: $primary_color, $amount: 0.5);

    &.--small {
        padding: $default_padding / 2;
    }

    &--info {
        background-color: transparentize($color: $blue, $amount: 0.5);
    }
    &--error {
        background-color: transparentize($color: $red, $amount: 0.5);
    }
    &--warning {
        background-color: transparentize($color: $orange, $amount: 0.5);
    }
}

.card {
    padding: $padding_sm;
    border-radius: $border_radius;
    background-color: white;
}

.form {
    display: block;

    &.--inline {
        display: flex;
        flex-direction: row;
    }

    &.--full-width {
        width: 100%;

        .input_control {
            width: 100%;
            input,
            label {
                width: 100%;
            }
        }
    }

    .input_group {
        display: flex;
        flex-direction: row;
    }

    .input_control {
        display: block;
        padding: $padding_sm;

        label {
            display: block;
            margin-bottom: 1rem;
            font-size: $default_textsize * 0.8;
        }

        input[type="email"],
        input[type="password"],
        input[type="tel"],
        input[type="text"],
        input[type="url"],
        input[type="search"],
        input[type="number"],
        input[type="date"],
        input[type="datetime"],
        textarea,
        select {
            display: block;
            background: $input_background;
            border: none;
            outline: none;
            padding: $input_padding;
            border-radius: $input_border_radius;
            transition: $transition_duration;

            &:focus {
                background-color: darken($color: $input_background, $amount: 5);
            }
        }
    }

    .checbox_control {
        display: flex;
        padding: 0 2rem;

        input[type="checkbox"] {
            margin: 0 1rem 0 0;
            &:focus {
                outline: 2px solid $primary_color;
            }
        }
    }
}

.button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: $button_margin;
    color: $color_on_primary;
    padding: $button_padding;
    font-size: $button_fontsize;
    font-family: "Open sans", sans-serif;
    border-radius: $button_radius;
    transition: $transition_duration;
    background-color: $primary_color;
    text-transform: uppercase;
    font-weight: bold;

    &.--small {
        padding: $button_padding_small;
        font-size: $button_fontsize_small;
    }

    &.--outline {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;

        &:hover { 
            color: white; 
            border: 1px solid transparent;
        }
        
        &.--danger {
            background-color: transparent;
            border-color: $red;
            color: $red;
            &:hover { 
                color: white; 
                border: 1px solid transparent;
                background-color: $red;
            }
        }
        &.--warning {
            background-color: transparent;
            border-color: $orange;
            color: $orange;
            &:hover { 
                color: white; 
                border: 1px solid transparent;
                background-color: $orange;
            }
        }
        &.--info {
            background-color: transparent;
            border-color: $blue;
            color: $blue;
            &:hover { 
                color: white; 
                border: 1px solid transparent;
                background-color: $blue;
            }
        }
    }

    &.--danger {
        background-color: $red;
        color: white;
    }
    &.--warning {
        background-color: $orange;
        color: white;
    }
    &.--info {
        background-color: $blue;
        color: white;
    }

    &:hover {
        background-color: darken($color: $primary_color, $amount: $button_darken_amount);
    }

    &.--full-width {
        width: 100%;
    }
}

.datatable {
    overflow-x: auto;

    table {
        width: 100%;
        margin: $default_margin 0;
    
        background-color: white;
        padding: $padding_sm;
    
        tr {
            transition: 300ms;

            th, td {
                padding: $padding_sm;
                border: none;
            }
    
            th {
                text-align: left;
                font-weight: bold;
            }
        }

        tbody > tr {
            
            &:hover {
                background-color: darken($color: whitesmoke, $amount: 5);
                cursor: pointer;
            }

            &:nth-child(even) {
                background-color: whitesmoke; 
                &:hover {
                    background-color: darken($color: whitesmoke, $amount: 5);
                    cursor: pointer;
                }
            }
        }
        
    
    }
}

.tabular_list_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 $padding_sm;

    .list_item {
        display: block;
        padding: $padding_sm;
        width: 100%;

        span.title {
            font-weight: bold;
            display: inline-block;
            width: 20%;
        }

        &:nth-child(even) { background-color: #eee; }
    }
}

// utils
.color_on_primary { color: $color_on_primary; }
.--underlined { text-decoration: underline; }