<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventerX - Homepage</title>

    <!-- style -->
    <link rel="stylesheet" href="/static/css/main.min.css">
    <link rel="stylesheet" href="/static/css/homepage.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">


</head>

<body>

    <main class="home_grid">

        <div class="sidenav" id="sideNav">

            <a href="javascript:void(0)" class="close_button">
                <i class="fa fa-times" onclick='document.querySelector("#sideNav").classList.toggle("--shown");'></i>
            </a>

            <div class="sidenav__item --active">
                <i class="icon fa fa-chart-pie"></i>
                <span class="description">Dashboard</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-clock"></i>
                <span class="description">Events</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-tasks"></i>
                <span class="description">Tasks</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-calendar-alt"></i>
                <span class="description">Calendar</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-users"></i>
                <span class="description">Teams</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-folder-open"></i>
                <span class="description">Resources</span>
            </div>

            <div class="sidenav__item mobile_only">
                <i class="icon fa fa-comment-alt"></i>
                <span class="description">Messages</span>
            </div>

            <div class="sidenav__item mobile_only">
                <i class="icon fa fa-user-circle"></i>
                <span class="description">Profile</span>
            </div>

            <div class="sidenav__item">
                <i class="icon fa fa-cogs"></i>
                <span class="description">Settings</span>
            </div>

        </div>

        <div class="main_section">

            <div class="top_panel">

                <i class="mobile_only fa fa-bars"
                    onclick='document.querySelector("#sideNav").classList.toggle("--shown");'></i>

                <div class="school_name">School name</div>

                <i class="mobile_only fa fa-bell"></i>

                <div class="left_options">
                    <a href="#">
                        <i class="fa fa-comment-alt"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-bell"></i>
                    </a>

                    <a href="#">
                        <i class="fa fa-user-circle"></i>
                    </a>
                </div>
            </div>

            <div class="main_content">

                <div class="alert">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, iste!
                </div>

                <div class="homepage_grid">

                    <!-- the briefing cards section -->
                    <div class="briefing_list">

                        <div class="card cards_briefing">
                            <p class="number">26</p>
                            <p class="description">Total Tasks</p>
                        </div>
                        <div class="card cards_briefing">
                            <p class="number">15</p>
                            <p class="description">Uncompleted Tasks</p>
                        </div>
                        <div class="card cards_briefing">
                            <p class="number">16</p>
                            <p class="description">Staff Members</p>
                        </div>
                        <div class="card cards_briefing">
                            <p class="number">4</p>
                            <p class="description">Active Teams</p>
                        </div>

                    </div>


                    <div class="charts_section">

                        <div class="card card_chart" id="lineChart">
                            <h3>Daily Tasks' reports</h3>
                        </div>

                        <div class="card card_chart" id="pieChart">
                            <h3>Budget Allocation</h3>
                        </div>

                    </div>

                    <div class="card card_todo">
                        
                        <h3>To do list</h3>
                        <div class="card_todo_item --completed">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos, repellat.</p>
                        </div>
                        <div class="card_todo_item">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card_todo_item">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card_todo_item --completed">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="card_todo_item --completed">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>


                </div>

                <section class="event_planning">

                    <h2>Current Events</h2>

                    <table class="table table--fullsize">

                        <thead>
                            <tr>
                                <th>Event Title</th>
                                <th>Deadline</th>
                                <th>Progress</th>
                                <th>Lead</th>
                                <th>Team</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Graduation Ceremony</td>
                                <td>12th September 2021</td>
                                <td>12%</td>
                                <td>John D</td>
                                <td>Team 7</td>
                                <td>
                                    <a href="#">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </section>

            </div>

        </div>

    </main>


    <!-- js scripts -->
    <script src="/static/js/main.js"></script>

</body>

</html>